<launch>

  <node pkg="dm_imu" type="dm_imu_node" name="dm_imu_node" required="true" output = "screen" >
    <param name="port"      type="string" value="/dev/ttyACM0"/>
    <param name="baud"  type="int"    value="921600"/>
  </node>

  <node name="rl_real_d1" pkg="rl_sar" type="rl_real_d1" output="screen" required="true" />

</launch>
